<div class="task-component">
  <div class="task-component-title">
    Tasks Waiting For Review
  </div>
  <div class="task-component-tasks">
    <ng-container *ngIf="forReviewAssignments">
      <div class="task-component-task" *ngFor="let item of forReviewAssignments, let i = index">
        <div class="task-name">
          {{forReviewAssignments[i].name}}
        </div>
        <div class="task-description">
          {{forReviewAssignments[i].description}}
        </div>
        <div class="task-details-button">
          <div class="task-details">
            <div class="task-details-doc">
              <img src="../../../../assets/img/notion.png" alt="">
              <a [href]="forReviewAssignments[i].descriptionURL">link to documentation</a>
            </div>
            <div class="task-details-desing">
              <img src="../../../../assets/img/figma.png" alt="">
              <a [href]="forReviewAssignments[i].designURL">link to desing</a>
            </div>
            <div class="task-details-owner">
              <img src="../../../../assets/img/owner.png" alt="">
              <button (click)="(showContactDetail(i))">Owner</button>
              <div *ngIf="showContactDetailsMap[i]">
                <app-contact-details [userId]="forReviewAssignments[i].beingDoneById" [indexInTasks]="i" (closePopup)="closeContactDetail($event)">
                  
                </app-contact-details>
              </div>
            </div>
          </div>
          <div class="task-button">
            <button (click)="resendToOngoing(
                              forReviewAssignments[i].id, 
                              forReviewAssignments[i].projectId,
                              forReviewAssignments[i].stage,
                              forReviewAssignments[i].beingDoneById
                            )">
              Resend to Ongoing
            </button>
            <button (click)="sendToCompleted(
                              forReviewAssignments[i].id, 
                              forReviewAssignments[i].projectId,
                              forReviewAssignments[i].stage,
                              forReviewAssignments[i].beingDoneById
                            )">
              Send to Completed
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="forReviewAssignments.length == 0">
      No task waiting for review!
    </ng-container>
  </div>