<div class="task-component">
  <div class="task-component-title">
    Tasks Waiting For Review
  </div>
  <div class="task-component-tasks">
    <!-- TODO: implement ngFor -->
    <div class="task-component-task">
      <div class="task-name">
        Task Name
      </div>
      <div class="task-details-button">
        <div class="task-details">
          <div class="task-details-doc">
            <img src="../../../../assets/img/notion.png" alt="">
            <a href="">link to documentation</a>
          </div>
          <div class="task-details-desing">
            <img src="../../../../assets/img/figma.png" alt="">
            <a href="">link to desing</a>
          </div>
          <div class="task-details-owner">
            <img src="../../../../assets/img/owner.png" alt="">
            <a href="">owner</a>
          </div>
        </div>
        <div class="task-button">
          <button>Resend to Ongoing</button>
          <button>Send to Completed</button>
        </div>
      </div>
    </div>
    <div class="task-component-task">
      <div class="task-name">
        Task Name
      </div>
      <div class="task-details-button">
        <div class="task-details">
          <div class="task-details-doc">
            <img src="../../../../assets/img/notion.png" alt="">
            <a href="">link to documentation</a>
          </div>
          <div class="task-details-desing">
            <img src="../../../../assets/img/figma.png" alt="">
            <a href="">link to desing</a>
          </div>
          <div class="task-details-owner">
            <img src="../../../../assets/img/owner.png" alt="">
            <a href="">owner</a>
          </div>
        </div>
        <div class="task-button">
          <button>Resend to Ongoing</button>
          <button>Send to Completed</button>
        </div>
      </div>
    </div>
  </div>