<div class="home-content" >
  <div class="profile-urgent-projects">
    <div class="profile-content">
      <div class="profile-pic">
        <div class="profile-pic-img-container">
          <img class="profile-pic-img" [src]="imagenURL" alt="User" />
        </div>
      </div>
      <div class="profile-welcome" >
        <button (click)="openEditProfilePopup()" class="profile-welcome-edit-profile">Edit Profile</button>
        <div *ngIf="editProfile">
          <app-contact-details [contactId]="userId" (closePopup)="closeEditProfilePopup($event)">
            
          </app-contact-details>
        </div>
        <h1>Welcome {{userInfo.name}} !</h1>
        <h3 class="profile-welcome-message">{{welcomeMessage}}</h3>
      </div>
      <div class="profile-info">
        <div class="profile-info-content">
          <h2>{{userInfo.name}} {{userInfo.lastName}}</h2>
          <h2>Email: {{userInfo.email}}</h2>
          <div class="profile-info-social">
            <a [href]="userInfo.linkedInURL" target="_blank" rel="noopener" >
              <img src="../../../assets/img/Linkedin.svg">
            </a>
            <a href="{{userInfo.gitHubURL}}" target="_blank" rel="noopener">
              <img src="../../../assets/img/GitHub.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="profile-message">
        <div class="profile-message-summary">
          <h2 [attr.contenteditable]="canChangePersonalStatus ? 'true' : 'false'" [class.profile-message-summary-editable]="canChangePersonalStatus"
                                      #userPersonalStatusElement>
            {{userInfo.status}}
          </h2>
        </div>
        <div *ngIf="!canChangePersonalStatus">
          <button class="profile-message-button" (click)="changePersonalStatus()">Edit</button>
        </div>
        <div *ngIf="canChangePersonalStatus">
          <button class="profile-message-button" (click)="saveChangePersonalStatus()">Save</button>
        </div>
      </div>
    </div>
    <div class="app-urgent-tasks">
      <app-urgent-tasks></app-urgent-tasks>
    </div>
  </div>
  <div class="app-task-list">
    <h1 class="app-task-list-title">Projects!</h1>
    <app-task-list class="app-task-list-component"></app-task-list>
  </div>
</div>
