<div class="task-component">
  <div class="task-component-title">
    Ongoing Tasks
  </div>
  <div class="task-component-tasks">
    <ng-container *ngIf="ongoingAssignments">
      <div class="task-component-task" *ngFor="let item of ongoingAssignments, let i = index">
        <div class="task-name">
          {{ongoingAssignments[i].name}}
        </div>
        <div class="task-description">
          {{ongoingAssignments[i].description}}
        </div>
        <div class="task-details-button">
          <div class="task-details">
            <div class="task-details-doc">
              <img src="../../../../assets/img/notion.png" alt="">
              <a [href]="ongoingAssignments[i].descriptionURL">link to documentation</a>
            </div>
            <div class="task-details-desing">
              <img src="../../../../assets/img/figma.png" alt="">
              <a [href]="ongoingAssignments[i].designURL">link to desing</a>
            </div>
            <div class="task-details-owner">
              <img src="../../../../assets/img/owner.png" alt="">
              <button (click)="(showContactDetail(i))">Owner</button>
              <div *ngIf="showContactDetailsMap[i]">
                <app-contact-details [contactId]="ongoingAssignments[i].beingDoneById" [indexInTasks]="i" (closePopup)="closeContactDetail($event)"></app-contact-details>
              </div>
            </div>
          </div>
          <div class="task-button">
            <button (click)="leaveTask(
                              ongoingAssignments[i].id, 
                              ongoingAssignments[i].projectId,
                              ongoingAssignments[i].stage
                            )">
              Leave Task
            </button>
            <button (click)="sendToReview(
                              ongoingAssignments[i].id, 
                              ongoingAssignments[i].projectId,
                              ongoingAssignments[i].stage,
                              ongoingAssignments[i].beingDoneById
                            )">
              Send to Review
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="ongoingAssignments && ongoingAssignments.length === 0">
      No ongoing tasks!
    </ng-container>
  </div>
</div>