<div class="urgent-tasks" *ngFor="let item of userAssignments, let i = index">
 <div class="urgent-task-and-details" *ngIf="i < 4">
    <div class="urgent-task" >
      <div class="urgent-task-name">
        <h1> {{userAssignments[i].name}} </h1>
      </div>
      <hr class="urgent-task-divider">
      <div class="urgent-task-description">
        <h3>{{userAssignments[i].description}}</h3>
      </div>
    </div>
    <div class="urgent-task-details">
      <div class="task-details-doc">
        <img src="../../../../assets/img/notion.png" alt="">
        <a [href]="userAssignments[i].descriptionURL" target="_blank">link to documentation</a>
      </div>
      <div class="task-details-desing">
        <img src="../../../../assets/img/figma.png" alt="">
        <a [href]="userAssignments[i].designURL" target="_blank">link to desing</a>
      </div>
    </div>
  </div>
</div>
<div class="urgent-tasks" *ngIf="noUrgentTasks!">
  <div class="urgent-task-and-details">
    <div class="urgent-task" >
      <div class="urgent-task-name">
        <h1> You have no urgent assignments! </h1>
      </div>
      <hr class="urgent-task-divider">
      <div class="urgent-task-description">
        <h3>Relax! you just have to work, no pressure!</h3>
      </div>
    </div>
  </div>
</div>
