<div class="urgent-tasks">
  <!-- TODO: edit with ngFor -->
  <div class="urgent-task-and-details">
    <div class="urgent-task">
      <div class="urgent-task-name">
        <h1>Task 3 title of project 2 (Urgent)</h1>
      </div>
      <hr class="urgent-task-divider">
      <div class="urgent-task-description">
        <h3>Description of Task</h3>
      </div>
    </div>
    <div class="urgent-task-details">
      <div class="task-details-doc">
        <img src="../../../../assets/img/notion.png" alt="">
        <a href="" target="_blank">link to documentation</a>
      </div>
      <div class="task-details-desing">
        <img src="../../../../assets/img/figma.png" alt="">
        <a href="" target="_blank">link to desing</a>
      </div>
    </div>
  </div>
  <div class="urgent-task-and-details">
    <div class="urgent-task">
      <div class="urgent-task-name">
        <h1>Task 3 title of project 2 (Urgent)</h1>
      </div>
      <hr class="urgent-task-divider">
      <div class="urgent-task-description">
        <h3>Description of Task</h3>
      </div>
    </div>
    <div class="urgent-task-details">
      <div class="task-details-doc">
        <img src="../../../../assets/img/notion.png" alt="">
        <a href="" target="_blank">link to documentation</a>
      </div>
      <div class="task-details-desing">
        <img src="../../../../assets/img/figma.png" alt="">
        <a href="" target="_blank">link to desing</a>
      </div>
    </div>
  </div>
</div>