<div class="urgent-projects">
  <div class="urgent-project-graphic">
    <div class="urgent-project">
      <div class="urgent-name-project">
        <h1>Urgent Task</h1>
      </div>
      <hr class="urgent-project-divider">
      <div class="urgent-project-projects">
        <div>
          <h3>Task 2 (urgent) of project 1</h3>
        </div>
        <div>
        </div>
      </div>
    </div>
    <div class="urgent-project-graphic">
      grafico
    </div>
  </div>
  <div class="urgent-project-graphic">
    <div class="urgent-project">
      <div class="urgent-name-project">
        <h1>Urgent Task</h1>
      </div>
      <hr class="urgent-project-divider">
      <div class="urgent-project-projects">
        <div>
        </div>
        <div>
          <h3>Task 3 (urgent) of project 1</h3>
        </div>
      </div>
    </div>
    <div class="urgent-project-graphic">
      grafico
    </div>
  </div>
</div>