<div class="task-component">
  <div class="task-component-title">
    Completed Tasks
  </div>
  <div class="task-component-tasks">
    <ng-container *ngIf="completedAssignments">
      <div class="task-component-task" *ngFor="let item of completedAssignments, let i = index">
        <div class="task-name">
          {{completedAssignments[i].name}}
        </div>
        <div class="task-details-button">
          <div class="task-details">
            <div class="task-details-doc">
              <img src="../../../../assets/img/notion.png" alt="">
              <a [href]="completedAssignments[i].descriptionURL">link to documentation</a>
            </div>
            <div class="task-details-desing">
              <img src="../../../../assets/img/figma.png" alt="">
              <a [href]="completedAssignments[i].designURL">link to desing</a>
            </div>
            <div class="task-details-owner">
              <img src="../../../../assets/img/owner.png" alt="">
              <button (click)="(showContactDetail(i))">Owner</button>
              <div *ngIf="showContactDetailsMap[i]">
                <app-contact-details [userId]="completedAssignments[i].beingDoneById" [indexInOngoingTasks]="i" (closePopup)="closeContactDetail($event)">
                  
                </app-contact-details>
              </div>
            </div>
          </div>
          <div class="task-reviewed">
            <p>reviewed by</p>
            <img src="../../../../assets/img/owner.png" alt="">
            <button (click)="(showContactDetail(i))">Owner</button>
              <div *ngIf="showContactDetailsMap[i]">
                <app-contact-details [userId]="completedAssignments[i].updatedBy" [indexInOngoingTasks]="i" (closePopup)="closeContactDetail($event)">
                  
                </app-contact-details>
              </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="completedAssignments.length == 0">
      No completed tasks!
    </ng-container>
  </div>