/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6E6D6D #363636;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px 6px 6px 0px;
  background: #454545;
}

*::-webkit-scrollbar-thumb {
  background-color: #6E6D6D;
  border-radius: 20px;
  border: 3px solid #363636;
}

.task-component{
  display: flex;
  flex-direction: column;
  max-width: 348px;
  max-height: 680px;
  overflow-y: auto;
  overflow-x: hidden;

  .task-component-title{
    display: flex;
    width: 348px;
    height: 35px;
    padding: 9px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
    background: #6E6D6D;
  }
  .task-component-tasks{
    width: 328px;
    border-radius: 0px 0px 6px 6px;
    border: 1px solid #454545;
    background: #454545;
    padding: 16px 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .task-component-task{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      border-radius: 6px;
      border: 1px solid #3E3E3E;
      background: #363636;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
      width: 100%;

      .task-name{
        color: #FFF;
        font-family: SF Pro Text;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 15px 12px;
      }

      a{
        color: #80878F;
        font-family: SF Pro Text;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        margin-left: 5px;
      }

      .task-details-button{
        display: flex;
        width: 100%;

        .task-details{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          margin-right: auto;

          .task-details-doc{
            margin: 6px;
            margin-left: 10px;
          }
      
          .task-details-desing{
            margin-left: 10px;
          }
      
          .task-details-owner{
            margin-left: 10px;
            margin-bottom: 10px;
          }
        }

        .task-reviewed{
          color: #FFF;
          font-family: SF Pro Text;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-right: 15px;
        }
      }
    } 
  }
}

