<div class="example-container"  >
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="0" >
    <mat-sidenav #snav [mode]="'side'" fixedTopGap="56" class="sidebar" opened="true" class="sidebar" >
      <mat-nav-list class="sidebar_list">
        <ng-container *ngIf="userProjects;else noProjects">
          <a *ngFor="let route of userProjects, let i = index" mat-list-item [routerLink]="['project']" [queryParams]="{id: userProjects[i].id}"> {{userProjects[i].name}}</a>
        </ng-container>
        <ng-template #noProjects>
        </ng-template>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
