.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1.example-app-name {
  display: flex;
  margin: auto;
  
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1 0 auto;
  margin-top: 0;
}

.sidebar{
  width: 200px;
}

.sidebar_list{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 200px;
}

.button_sidebar{
  border: none;
}

.addProject{
  color: rgb(183, 127, 247);
}

