<div class="project-page">
  <div class="project-title">
    Project Title
  </div>
  <div class="project-tasks">
    <div class="pending-tasks">
      <app-pending-tasks></app-pending-tasks>
    </div>
    <div class="ongoing-tasks">
      <app-ongoing-tasks></app-ongoing-tasks>
    </div>
    <div class="for-review-tasks">
      <app-for-review-tasks></app-for-review-tasks>
    </div>
    <div class="completed-tasks">
      <app-completed-tasks></app-completed-tasks>
    </div>
  </div>
</div>
