.project-page{
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    #555555 0%,
    rgba(46, 85, 145, 1) 64%,
    rgb(56, 57, 133) 100%
  );
  min-height: 100%;
  align-items: center;

  

  .project-title-and-new-assignment{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 45px;

    .new-assignment{
      .button {
        margin: 50px 0px 25px 0px;
        display: block;
        background-color: #454545;
        color: #03bfbc;
        border: 1px solid #03bfbc;
        border-radius: 3px;
        cursor: pointer;
        padding: 10px 25px;
        margin-left: auto;
      }
    
      .button:hover {
        background-color: #03bfbc;
        color: #231e39;
        transition: 0.5s;
      }
    }

    .project-title{
      height: 50px;
      margin: 50px 0px 25px 0px;
      background-color: #555555;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      border: 1px solid #454545;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    }
  }

  .project-tasks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    .pending-tasks{
      margin: 20px 35px;
      min-width: 348px;
    }
    .ongoing-tasks{
      margin: 20px 35px;
      min-width: 348px;
    }
    .for-review-tasks{
      margin: 20px 35px;
      min-width: 348px;
    }
    .completed-tasks{
      margin: 20px 35px;
      min-width: 348px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .project-page{
    background: rgb(56, 57, 133);
    background: linear-gradient(
    90deg,
    rgb(56, 57, 133) 0%,
    rgba(46, 85, 145, 1) 50%,
    rgb(56, 57, 133) 100%
    )
  }
}