<div class="project-page">
  <div class="project-title-and-new-assignment">
    <button class="button" (click)="openNewAssignmentPopup()">Add assignment</button>
    <button class="button" (click)="addUserToProject()">Add User to Project</button>
    <label for="addUser">Enter user email:</label>
    <input type="text" name="" id="addUser">
    <app-new-assignment-form *ngIf="newAssignmentPopup" [projectId]="projectId" 
                                      (reloadAssignmentsAndClosePopup)="closeNewAssignmentPopup()" 
                                      (closePopup)="closeNewAssignmentPopup()">
    </app-new-assignment-form>
    <div class="project-title">
      {{userProject?.name}}
    </div>
    <button class="button" (click)="deleteProject()">Delete Project</button>
  </div>
  <div class="project-tasks">
    <div class="pending-tasks">
      <app-pending-tasks [pendingAssignments]="pendingAssignments" (reloadAssignments)="changeInAssignments()"></app-pending-tasks>
    </div>
    <div class="ongoing-tasks">
      <app-ongoing-tasks [ongoingAssignments]="ongoingAssignments" (reloadAssignments)="changeInAssignments()"></app-ongoing-tasks>
    </div>
    <div class="for-review-tasks">
      <app-for-review-tasks [forReviewAssignments]="forReviewAssignments" (reloadAssignments)="changeInAssignments()"></app-for-review-tasks>
    </div>
    <div class="completed-tasks">
      <app-completed-tasks [completedAssignments]="completedAssignments" (reloadAssignments)="changeInAssignments()"></app-completed-tasks>
    </div>
  </div>
</div>
