.newAssignment{
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  .newAssignment_content{
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    box-shadow: 2px 20px 20px black;
    padding: 30px;
    position: fixed;
    min-height: fit-content;
    width: 50vw;
    max-width: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #454545;
    display: grid;

    .newAssignment_close_button{
      margin: auto 0 auto auto;
      display: block;
      background-color: #363636;
      color: #03bfbc;
      border: 1px solid #03bfbc;
      border-radius: 3px;
      cursor: pointer;
      padding: 5px;
    }

    .newAssignment_close_button:hover{
      background-color: #03bfbc;
      color: #231e39;
      transition: 0.5s;
    }

    .newProject_title{
      text-align: center;
      margin-bottom: 15px;
    }

    .newAssignment_list{
      .newAssignment_list-IfMobileQuery{
        display: flex;
        gap: 5px;
        .newAssignment-box-input-priority-title{
          margin: 10px 5px 10px 0;
          color: rgb(228, 228, 228);
          text-shadow: 1px 1px 0.5px red
        }
        input[type="radio"]{
          position: absolute;
          opacity: 0;
        }
        label{
          padding: 5px 0 5px 5px;
          width: 60px;
          text-align: center;
          margin: auto;
        }
        
        input[type="radio"]:hover + label,
        input[type="radio"]:checked + label,
        input[type="radio"]:focus + label{
          background-color: #363636;
          box-shadow: 1px 1px 1px black;
          
        }
        input[type="radio"]:checked + label{
          border: 1px solid rgb(104, 104, 104);
        }
      }
      
    }

    .newProject_box-input {
      grid-template-columns: max-content 1fr;
      align-items: center;
      column-gap: 0.75rem;

      .newProject_input {
        width: 100%;
        padding-block: 0.8rem;
        background: none;
        color: white;
        position: relative;
        z-index: 1;
        border: none;
        border-bottom: 2px solid white;
        margin-bottom: 20px;
      }

      .newProject_input::placeholder {
        color: rgb(228, 228, 228);
        text-shadow: 1px 1px 0.5px red
      }

      .error-found{
        color: rgb(79, 166, 216);
        text-shadow: 1px 2px 0.5px black;
        text-align: center;
      }
    }
    
    .submit_button {
      margin: auto;
      display: block;
      background-color: #363636;
      color: #03bfbc;
      border: 1px solid #03bfbc;
      border-radius: 3px;
      cursor: pointer;
      padding: 10px 25px;
      margin-left: auto;
    }
  
    .submit_button:hover {
      background-color: #03bfbc;
      color: #231e39;
      transition: 0.5s;
    }
  }
}

@media(max-width: 750px) {
  .newAssignment_content{
    min-width: 250px;

    .newAssignment_list{
      width: 100%;
      .newAssignment_list-IfMobileQuery{
        width: 100%;
        display: flex;
        justify-content: center;
        button{
          background-color: transparent;
          border: none;
          margin: auto;
          width: 100%;
          margin-right: auto;
          text-align: start;
        }
        .newAssignment-box-input-priority-title{
          margin-right: auto;
        }
        .newAssignment_list-PriorityList{
          position: absolute;
          z-index: 3;
          display: flex;
          gap: 5px;
          flex-direction: column;
          transition: 300ms;
          width: 85%;
          label{
            border: 0.5px solid rgb(46, 45, 45);
            width: 100%;
            background-color: #363636;
          }
        }
      }
      
    }
  }
}