<div class="projects-content">
  <div class="projects-content-project" *ngFor="let item of userProjects, let i = index" >
    <ng-container *ngIf="userProjects">
      <div class="projects-content-project-title">
        <h1>{{userProjects[i].name}}</h1>
      </div>
      <hr class="projects-content-divider">
      <ng-container *ngIf="userAssignments">
        <div class="projects-content-project-task" *ngFor="let item of userAssignments | filterAssignments: userProjects[i].id, let j = index">
            <div class="projects-content-project-task-title">
              {{userAssignments[j].name}}
            </div>
            <div class="projects-content-project-task-description">
              {{userAssignments[j].description}}
            </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
