<div class="projects-content">
  <div class="projects-content-project" *ngFor="let item of userProjects, let i = index" >
    <ng-container *ngIf="userProjects">
      <div class="projects-content-project-title">
        <h1>{{userProjects[i].name}}</h1>
      </div>
      <hr class="projects-content-divider">
      <ng-container *ngIf="userAssignments">
        <div class="projects-content-project-task" *ngFor="let item of userAssignments | filterAssignments: userProjects[i].id, let j = index">
            <div class="projects-content-project-task-title">
              {{userAssignments[j].name}}
            </div>
            <div class="projects-content-project-task-description">
              {{userAssignments[j].description}}
            </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
<div class="projects-content" *ngIf="noAssignments">
  <div class="projects-content-project">
    <div class="projects-content-project-title">
      <h1>You have no projects</h1>
    </div>
    <hr class="projects-content-divider">
      <div class="projects-content-project-task">
        <div class="projects-content-project-task-title">
          You should open the sidebar and add a project!
        </div>
        <div class="projects-content-project-task-description">
          You can add assignments inside the project.
        </div>
      </div>
  </div>
</div>
