<div class="task-component">
  <div class="task-component-title">
    Pending Tasks
  </div>
  <div class="task-component-tasks">
    <ng-container *ngIf="pendingAssignments">
      <div class="task-component-task" *ngFor="let item of pendingAssignments , let i = index">
        <div class="task-name">
          {{pendingAssignments[i].name}}
        </div>
        <div class="task-description">
          {{pendingAssignments[i].description}}
        </div>
        <div class="task-details-button">
          <div class="task-details">
            <div class="task-details-doc">
              <img src="../../../../assets/img/notion.png" alt="">
              <a [href]="pendingAssignments[i].descriptionURL">link to documentation</a>
            </div>
            <div class="task-details-desing">
              <img src="../../../../assets/img/figma.png" alt="">
              <a [href]="pendingAssignments[i].designURL">link to desing</a>
            </div>
            <div class="task-details-owner">
              <img src="../../../../assets/img/owner.png" alt="">
              <!-- <a [href]="pendingAssignments[i].projectId">{{pendingAssignments[i].createdBy}}</a> -->
              <button [disabled]="!ownerOpen" class="task-details-owner-button" (click)="openPopup(pendingAssignments[i].beingDoneById, i)" >Owner</button>
              <div numero=i  #popupContainer></div>
            </div>
          </div>
          <div class="task-button">
            <button (click)="takeAssignment(
                              pendingAssignments[i].id, 
                              pendingAssignments[i].projectId,
                              pendingAssignments[i].stage
                              )">
              Take Task
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="pendingAssignments && pendingAssignments.length == 0">
      No pending tasks!
    </ng-container>
  </div>
</div>