<mat-accordion >
  <mat-expansion-panel (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false"
                      class="mat-elevation-z0">
    <mat-expansion-panel-header class="mat-expansion-panel-header">
      <mat-panel-title class="panel_title">
        Projects
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- TODO: implements ngfor -->
    <a matListItemLine [routerLink]="['project']">Project 1</a><br>
    <a matListItemLine href="">asdasd</a><br>
    <a matListItemLine href="">asdasd</a>
  </mat-expansion-panel>
</mat-accordion>