<mat-accordion >
  <mat-expansion-panel (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false"
                      class="mat-elevation-z0">
    <mat-expansion-panel-header class="mat-expansion-panel-header">
      <mat-panel-title class="panel_title">
        Projects
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngIf="userProjects;else noProjects">
      <a *ngFor="let route of userProjects, let i = index" mat-list-item [routerLink]="['project']" [queryParams]="{id: userProjects[i].id}"> {{userProjects[i].name}}</a>
    </ng-container>
    <ng-template #noProjects>
    </ng-template>
    <a mat-list-item [routerLink]="['newProject']" class="addProject"><span class="addProject">Add Project!</span></a>
  </mat-expansion-panel>
</mat-accordion>